
*.v2
*.vsidx
.vs/CalamityLootSwap/v17/.suo
*.bin
*.dll
*.json
*.pdb
*.xml
*.config
*.targets
*.props
obj/Debug/net6.0/CalamityLootSwap.AssemblyInfo.cs
obj/Debug/net6.0/CalamityLootSwap.AssemblyInfoInputs.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
*.cache
*.BuildWithSkipAnalyzers
*.CopyComplete
obj/Debug/net6.0/CalamityLootSwap.csproj.FileListAbsolute.txt
obj/Debug/net6.0/CalamityLootSwap.GeneratedMSBuildEditorConfig.editorconfig
CalamityLootSwap.sln
CalamityLootSwap.csproj
